.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 576px) {
  .container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 90%;
    margin: 0 auto;
  }
}
