.main-card {
  /* border: solid black 2px; */
  padding-top: 16px;
  margin: 0.3em;
  width: 220px;
  height: 235px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.card-img,
.card-details {
  display: block;
  text-align: center;
}
.patch {
  width: 159px;
}
.card-date-time,
.card-location {
  font-weight: bold;
}
.card-details {
  padding: 0 0.3em;
}
.flight-no {
  font-size: 3em;
}
.flight-name {
  font-size: 1.5em;
  vertical-align: baseline;
  line-height: 50%;
}
/* btn-2 ---------------------- */
