.card {
  border-top: solid black 2px;
  border-bottom: solid black 2px;
  padding-top: 16px;
  margin: 0.3em;
  display: flex;
  flex-direction: column;
}
.details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 1em;
  padding: 0 0.3em;
}
@media (min-width: 769px) {
  .card {
    flex-direction: row;
  }
}
