.name {
  font-size: 4em;
  color: black;
}
.main_header {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  text-align: center;
}
.header_img {
  max-width: 100px;
}
.flex_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (min-width: 576px) {
  .name {
    font-size: 6em;
  }
}

@media (min-width: 769px) {
  .flex_wrapper {
    flex-direction: row;
  }
}
