* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;

  color: #000;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
h1,
h2,
h3 {
  text-align: center;
  font-family: "Staatliches", cursive;
}
p {
  line-height: 1.5;
}
a {
  text-decoration: none;
}
h1 {
  margin: 0;
}

/* ---- Navigation ---- */
/* unvisited link */
a {
  color: black;
}
/* visited link */
a:visited {
  /* color: #00ff00; */
  color: black;
}
/* mouse over link */
a:hover {
  color: black;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  -o-box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
/* selected link */
a:active {
  /* color: rgb(61, 60, 60); */
}

/* ================================= 
  Media Queries
==================================== */
@media (min-width: 576px) {
}
@media (min-width: 769px) {
}
@media (min-width: 1025px) {
}
@media (min-width: 1200px) {
}
