/* ================================= 
  Base Element Styles

  Following a mobile first approach write properties
  as base styles outside of any media query.
  Then they apply to all screen sizes and devices.
==================================== */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;

  color: #000;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
h1,
h2,
h3 {
  text-align: center;
  font-family: "Staatliches", cursive;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
p {
  line-height: 1.5;
}
a {
  text-decoration: none;
}
h1 {
  margin: 0;
}
.space-font {
  text-align: center;
  font-family: "Staatliches", cursive;
}
/* ================================= 
  Base Layout Styles

  Following a mobile first approach write properties
  as base styles outside of any media query.
  Then they apply to all screen sizes and devices.
==================================== */

/* ---- Navigation ---- */
.name {
  font-size: 4em;
  /* margin: 0; */
  color: black;
  /* display: inline; */
}

/* .name a {
  display: block;
  text-align: center;
  padding: 5px 15px;
} */

/* unvisited link */
a {
  color: black;
}
/* visited link */
a:visited {
  /* color: #00ff00; */
  color: black;
}
/* mouse over link */
a:hover {
  /* background-color: rgb(78, 76, 76); */
  color: black;
  /* border-bottom-color: #5b7484; */
}
/* selected link */
a:active {
  /* color: rgb(61, 60, 60); */
}
/* ---- Layout Containers ---- */
.wrapper {
  display: flex;
  flex-direction: column;
}
.main-header {
  /* background: #d9e4ea; */
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  /* display: flex; */
  /* justify-content: center; */
  text-align: center;
}
.main-header-img {
  max-width: 100px;
  /* align-self: center; */
  text-align: center;
}
.main-card {
  border: solid black 2px;
  padding-top: 16px;
  margin: 0.3em;
  /* min-height: 250px; */
  width: 370px;
  height: 435px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card-img,
.card-details {
  display: block;
  text-align: center;
}
.card-date-time,
.card-location {
  font-weight: bold;
}
.card-details {
  padding: 0 0.3em;
}
.flight-no {
  font-size: 4em;
}
.flight-name {
  font-size: 2em;
  vertical-align: baseline;
  line-height: 50%;
}
.main-footer {
  text-align: center;
  /* background: #d9e4ea; */
  padding: 2em 0;
  margin-top: 30px;
}
/* Card Details */
.main-card-details {
  border-top: solid black 2px;
  border-bottom: solid black 2px;
  padding-top: 16px;
  margin: 0.3em;
  /* width: 740px; */
  /* height: 445px; */
  display: flex;
  flex-direction: column;
}
.card-img-details {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 1em;
  padding: 1em;
}
.card-details-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 1em;
}

.card-location img {
  max-height: 20px;
  max-width: 20px;
}
/* Clearfix (clear floats) */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
/****** floated columns */
.youtube,
.wiki {
  float: right;
  margin-left: 5px;
}

.float-left {
  width: 25%;
  float: left;
}

.monster {
  max-width: 15em;
}
.not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* ================================= 
  Media Queries
==================================== */
@media (min-width: 576px) {
  .container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 90%;
    margin: 0 auto;
  }

  .name {
    font-size: 6em;
  }
}

@media (min-width: 769px) {
  .main-header {
    margin-left: auto;
    margin-right: auto;
  }
  .flex-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .main-card-details {
    flex-direction: row;
  }
  .card-img-details {
    align-self: center;
  }
}
@media (min-width: 1025px) {
}

@media (min-width: 1200px) {
}
